body{
  font-family: sans-serif;
}
.topleftpane{
  float: right;
  width: 60%;
}
.connect{
  float: right;
  width: 60%;
  padding-right: 0px;
  padding-left: 0px;

}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.personaldetail{
  float: left;
  width: 40%
}
.personaldetail h3{
  color: DodgerBlue;
}
hr{
  width: 100%;
  background-color: DodgerBlue;
  height: 4px;
  border: 0;
}
